body {
    background-image: url("../images/background.jpg");
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Signika', sans-serif;
}

p {
    font-size: 20px;
}

#projectBox {
    margin-top: 150px;
}


.centerHeader {
    text-align: center;
}

.projectimg {
    height: 250px;
}

#portrait {
    width: 100%;
    margin-top: 25px;
}

#aboutMeHeader {
    margin-top: 80px;
}


#aboutMeBox {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 30px;
    background: white;
    border: solid 1px darkgrey;
}

#footer {
    width: 100%;
    height: 40px;
    text-align: center;
    color: white;
    margin: 0;
}